<form [formGroup]="editProductForm">
  <div class="product-img"></div>
  <div>
    <label>Nazwa:</label>
    <input type="text" formControlName="name" class="form-control" />
  </div>
  <div>
    <label>kcal:</label>
    <input type="number" formControlName="kcal" class="form-control" />
  </div>
  <div>
    <label>cena:</label>
    <input type="number" formControlName="price" class="form-control" />
  </div>
  <div>
    <label>opis:</label>
    <textarea name="description" formControlName="description" class="form-control"></textarea>
  </div>
  <div class="time-wrapper">
    <p>Czas dodania:</p>
    <p>Ostatnia aktualizacja:</p>
  </div>
</form>