<div>

  <ng-template #selectedProductModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Szczegóły produktu</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-edit-product-form #editForm [product]="selectedProduct"></app-edit-product-form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="delete(selectedProduct, modal)">Delete</button>
      <button type="button" class="btn btn-success" (click)="editForm.updateProduct(); save(modal)">Save</button>
    </div>
  </ng-template>

  <ng-template #addNewProductModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Product detail</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-add-product-form #addForm [product]="newProduct"></app-add-product-form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="addForm.createProduct(); add(modal)">Add</button>
    </div>
  </ng-template>

  <ul class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let product of products" (click)="combineOnSelectAndOpen(product, selectedProductModal)"
      [class.selected]="product === selectedProduct">
      {{ product.name }}
    </li>
  </ul>

  <button class="add-new-product" (click)="open(addNewProductModal)">
    <p>+</p>
  </button>

</div>