<div>

  <ng-template #selectedProductModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Product detail</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
          <div class="product-img" [style.background-image]="'url(' + selectedProduct.photoURL + ')'"></div>
        <div>
          <label>name:</label>
          <input [(ngModel)]="selectedProduct.name" name="name" class="form-control">
        </div>
        <div>
          <label>kcal:</label>
          <input [(ngModel)]="selectedProduct.kcal" name="kcal" class="form-control">
        </div>
        <div>
          <label>price:</label>
          <input [(ngModel)]="selectedProduct.price" name="price" class="form-control">
        </div>
        <div>
          <label>description:</label>
          <textarea [(ngModel)]="selectedProduct.description" name="description" class="form-control"></textarea>
        </div>
        <div>
          <p>Add time: {{ selectedProduct.addTime }}</p>
          <p *ngIf="selectedProduct.updateTime.length">Recent update: {{ selectedProduct.updateTime }}</p>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="save(modal)">Save</button>
    </div>
  </ng-template>

  <ng-template #addNewProductModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Product detail</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
          <label>photo URL:</label>
          <input #photoURL  class="form-control"/>
        <div>
          <label>name:</label>
          <input #name  class="form-control"/>
        </div>
        <div>
          <label>kcal:</label>
          <input #kcal  class="form-control"/>
        </div>
        <div>
          <label>price:</label>
          <input #price  class="form-control"/>
        </div>
        <div>
          <label>description:</label>
          <textarea #description class="form-control"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="add(photoURL.value, name.value, kcal.value, price.value, description.value)">Add</button>
    </div>
  </ng-template>

  <ul class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let product of products" (click)="combineOnSelectAndOpen(product, selectedProductModal)"
      [class.selected]="product === selectedProduct">
      {{ product.name }}
    </li>
  </ul>

  <button class="add-new-product" (click)="open(addNewProductModal)">
    <p>+</p>
  </button>

</div>